
body {
background: rgb(57,57,199);
background: radial-gradient(circle, rgba(57,57,199,1) 5%, rgba(148,187,233,1) 91%);
}

.sky {
     width:100%;
     margin-top:2.5%;
     height:800px;
     color:#E0E147;
     text-align:center;
    }
