
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding:0px;
  margin:0px;
  
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
  
*, *:before, *:after {
    behavior: url(/css/border-radius.htc);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

*:focus {
    outline: none;
}

body{
    margin:0px;
    padding:0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


input{
    width:100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    padding:0;
    border:0;
}

input:focus{
    width:100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    padding:0;
    border:0;
}

header{

    width:100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    float:left;
    outline: none;
    box-shadow: none;
    padding:0px;
    margin:0px;

}


h1{

    width:100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: 'Dosis', sans-serif;
    float:left;
    outline: none;
    box-shadow: none;
    padding:0px;
    border:0px;

}

select{
    min-width:100%;
    max-width:100%;
    width:100% !important;
   -webkit-appearance: none;
   -moz-appearance: none;
    appearance: none;
   padding:0;
   border:0;
   margin:0;
   background-color:white;
}

table{
    
    width:100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:0;
    margin:0;
}

tr{
    width:100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
td{
    width:100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


select:focus{
    min-width:100%;
    max-width:100%;
    width:100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin:0;
    padding:0px;

}

select option{ 
    min-width:100%;
    max-width:100%;
    width:100% !important;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   margin:0px;
   padding:0px;

 
  
}

textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
    width:100%;
    border:0;
    margin:0;
    padding:0;
}

p{
    -webkit-appearance: none;
    -moz-appearance: none;
    width:100%;
    border:0;
    margin:0;
    padding:0;
    float:left;
}


span{
   -webkit-appearance: none;
    -moz-appearance: none;
    width:100%;
    border:0;
    margin:0;
    padding:0; 
    
}

.sky {
     width:100%;
     height:70px;
     background-color: #244E7F;
     color:silver;
     text-align:center;
     float:left;
    }

.content {
     width:100%;
     float:left;
     background-color:white;
     color:#E0E147;
     text-align:center;
    }


.footer {
     width:100%;
     height:150px;
     float:left;
     background-color: black;
     color:white;
     text-align:center;
    }



.card-top-right{
     float:left;
     width:49.8%;
     height:800px;
     color:black;
     border-right:1px solid silver;
     border-bottom:1px solid silver;
}



.card-top-left {
     float:left;
     width:49.8%;
     height:800px;
     color:black;
     border-bottom:1px solid silver;
     
}


.card-bottom-left {
     float:left;
     width:49.8%;
     height:800px;
     color:black;
    
    
}

.card-bottom-right{
     float:left;
     width:49.8%;
     height:800px;
     color:black;
      border-right:1px solid silver;
}



.front{
  
    float:left;
    width:98%;
    height:800px;

}

