<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ORION WORK FLOW AI</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  </head>
  <body>
    <header class="sky" >
       <h1>Inteligencia Artificial Linguistica</h1>
    </header> 
    <div class="content">
      {{ content }}
    </div>
    <footer>
      <div class="container">
           
      </div>
    </footer>
  </body>
</html>
