<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ORION WORK FLOW AI</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  </head>
  <body>
    <header class="sky" >
       <h2>Inteligencia Artificial Orion</h2>
    </header> 
    <div class="content">
       <div class="card"><div class="front" >MACRO DATOS</div> </div>
      
       <div class="card"> <div class="front" >MODELO</div></div>
      
       <div class="card"><div class="front" >APRENDIZAJE</div> </div>
      
      <div class="card"><div class="front" >NOSOTROS</div> </div>
      
    </div>
    <footer class="footer">
    
    </footer>
  </body>
</html>
